<div id="flasherModal" class="modal">
  <div class="modal-content" *ngIf="inputFile">
    <h4>Flash transfer</h4>
    <div class="row">
      <div class="col s11">
        <span>Detecting Smartbond device(Press reset)</span>
      </div>
      <div class="col s1">
        <div
          class="preloader-wrapper small active"
          *ngIf="syncstate === 'syncing'"
        >
          <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
        <div *ngIf="syncstate === 'synced'">
          <i class="material-icons success-class">check_box</i>
        </div>
        <div *ngIf="syncstate === 'unsynced'">
          <i class="material-icons error-class">error</i>
        </div>
      </div>
      <div *ngIf="syncstate === 'synced'">
        <div class="col s11">
          <span>Loading code stub</span>
        </div>
        <div class="col s1">
          <div
            class="preloader-wrapper small active"
            *ngIf="bootstate === 'loading'"
          >
            <div class="spinner-layer spinner-green-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <div *ngIf="bootstate === 'booted'">
            <i class="material-icons success-class">check_box</i>
          </div>
          <div *ngIf="bootstate === 'booterror'">
            <i class="material-icons error-class">error</i>
          </div>
        </div>
      </div>

      <div *ngIf="bootstate === 'booted' && flashingState !== 'flashDone'">
        <div class="col s4">
          <span>Writing flash</span>
        </div>
        <div class="col s8">
          <div class="progress" *ngIf="flashingState === 'progress'">
            <div class="determinate" [style.width]="flashProgress"></div>
          </div>
        </div>
      </div>
      <div
        *ngIf="flashingState === 'flashDone' || flashingState === 'flasherror'"
      >
        <div class="col s11">
          <span>Programming completed</span>
        </div>
        <div class="col s1" *ngIf="flashingState === 'flashDone'">
          <i class="material-icons success-class">check_box</i>
        </div>
        <div *ngIf="flashingState === 'flasherror'">
          <i class="material-icons error-class">error</i>
        </div>
      </div>
      <div class="modal-footer">
        <a
          class="modal-close waves-effect waves-green btn-flat"
          (click)="disconnect()"
          >Close</a
        >
      </div>
    </div>
  </div>
</div>
