@import "../../styles.scss";
.card:hover {
  // background-color: color("grey", "lighten-3");
  transition: transform 0.3s;
  transform: scale(1.04);
  box-shadow: 3px 3px 3px 3px color("grey", "lighten-1");
  cursor: pointer;
}
